@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
 header{
    font-family: 'Roboto', serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 18%;
}
 header img{    
    width: 10%;
    height: 90%;
}
 header article{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
 header article hr{
    background-color: #edce00;
    height: 1px;
    border: none;
}
 header article .button-container{
    height: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}